## STT:
## Họ và tên: Nguyễn Cao Thắng
## Lớp: IE224.P11
## Buổi 04 - Bài 02 - Lab 01
## Ghi chú, hoặc Lưu ý:

# Câu 1 & 2 Tạo dataframe, xuất 10 sample đầu tiên, 5 sample ngẫu nhiên. Tạo header cho các cột

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "Dataset/Automobile_dataset_V1.csv"
#Tạo header cho dataframe
headers = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors",
            "body-style", "drive-wheels", "engine-location", "wheel-base", "length",
            "width", "height", "curb-weight", "engine-type", "num-of-cylinders",
            "engine-size", "fuel-system", "bore", "stroke", "compression-ratio",
            "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [3]:
dataframe = pd.read_csv(path, names=headers)

In [47]:
#In ra 10 dòng đầu tiên của dataframe
dataframe.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
1,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400
2,3,.,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
3,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,11248
4,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,98,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
5,2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389
6,0,?,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
7,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184,4500,14,16,40960
8,0,85,honda,gas,std,four,sedan,fwd,front,96.5,...,110,mpfi,3.15,3.58,9.0,101,5800,24,28,12945
9,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575

In [48]:
#In ra 5 dòng ngẫu nhiên của dataframe
dataframe.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
69,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
178,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
48,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
11,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
62,3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489

# Câu 3 Kiểm tra kiểu dữ liệu các biến của df. So sánh với dữ liệu thô

In [49]:
#Kiểm tra kiểu dữ liệu của dataframe
dataframe.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

<h3> So sánh với kiểu dữ liệu thô: </h3>
<pre>
symboling              int64    số nguyên(Đúng)      <br>
normalized-losses     object    số thực(Sai)         <br>
make                  object    chuỗi ký tự(Đúng)    <br>
fuel-type             object    chuỗi ký tự(Đúng)    <br>
aspiration            object    chuỗi ký tự(Đúng)    <br>
num-of-doors          object    chuỗi ký tự(Đúng)    <br>
body-style            object    chuỗi ký tự(Đúng)    <br>
drive-wheels          object    chuỗi ký tự(Đúng)    <br>
engine-location       object    chuỗi ký tự(Đúng)    <br>
wheel-base           float64    số thực(Đúng)        <br>
length               float64    số thực(Đúng)        <br>
width                float64    số thực(Đúng)        <br>
height               float64    số thực(Đúng)        <br>
curb-weight            int64    số nguyên(Đúng)      <br>
engine-type           object    chuỗi ký tự(Đúng)    <br>
num-of-cylinders      object    chuỗi ký tự(Đúng)    <br>
engine-size            int64    số nguyên(Đúng)      <br>
fuel-system           object    chuỗi ký tự(Đúng)    <br>
bore                  object    số thực(Sai)         <br>
stroke                object    số thực(Sai)         <br>
compression-ratio    float64    số thực(Đúng)        <br>
horsepower            object    số nguyên(Sai)       <br>
peak-rpm              object    số nguyên(Sai)       <br>
city-mpg               int64    số nguyên(Đúng)      <br>
highway-mpg            int64    số nguyên(Đúng)      <br>
price                 object    số nguyên(Sai)       <br>
dtype: object
</pre>

# Câu 4 Kiểm tra bộ dữ liệu có bị khuyết. Thống kê số lượng giá trị khuyết từng biến

In [7]:
#Xác định và thống kê số lượng giá trị bị khuyết
missing_values = [".", "?", "_", "-", "", "None", "NULL", "Not", "|", "l"]
def is_missing(value):
    return value in missing_values

missing_count = dataframe.map(is_missing).sum()

print(missing_count)

symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type          12
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                3
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

# Câu 5 Xuất ra các dòng bị khuyết. Lưu các kết quả bị khuyết

In [51]:
# Lọc các dòng có giá trị bị khuyết
missing_rows = dataframe[dataframe.isin(missing_values).any(axis=1)]
# Xuất ra các dòng có giá trị bị khuyết
print(missing_rows)

# Lưu trữ kết quả vào tập tin .csv, .json, .xlsx
missing_rows.to_csv('missing_values.csv', index=False)
missing_rows.to_json('missing_values.json', orient='records', lines=True)
missing_rows.to_excel('missing_values.xlsx', index=False)

     symboling normalized-losses           make fuel-type aspiration  \
0            0                 ?            bmw       gas        std
1            1                 ?  mercedes-benz       gas        std
2            3                 .        porsche       gas        std
6            0                 ?          mazda    diesel        std
7            0                 ?  mercedes-benz       gas        std
13           3               150          mazda       gas        std
15           0                 ?         jaguar       gas        std
18           1                 ?           audi       gas        std
19           0                 .          mazda    diesel        std
26           0               161         peugot       gas        std
33           2                 ?           audi       gas        std
36           0               161         peugot       gas      turbo
37           0                 ?        renault       gas        std
44           0                 ?     volkswagen       gas        std
46           0                 ?            bmw       gas        std
47           3                 ?       plymouth       gas      turbo
48           0                 ?            bmw       gas        std
50          -1                 ?         toyota       gas        std
58           3               150          mazda       gas        std
62           3                 ?     mitsubishi       gas      turbo
64           2               121      chevrolet       gas        std
70           0                 ?           audi       gas      turbo
72           1                 ?            bmw       gas        std
76           0                 ?          isuzu       gas        std
78           1                 ?        mercury       gas      turbo
79           3               150          mazda       gas        std
81           1                 ?          isuzu       gas        std
82           0               161         peugot    diesel      turbo
85           3                 .        porsche       gas        std
87           3                 ?    alfa-romero       gas        std
89           1                 ?        porsche       gas        std
92           0                 ?         peugot       gas        std
96           3                 ?     mitsubishi       gas      turbo
98           0                 ?     volkswagen    diesel      turbo
106          0                 ?     volkswagen       gas        std
113          3                 ?    alfa-romero       gas        std
123          0               161         peugot       gas        std
128          0                 ?         peugot    diesel      turbo
133          0                 ?         peugot    diesel      turbo
140          0                 _          isuzu       gas        std
142          1               148          dodge       gas      turbo
143          1                 ?    alfa-romero       gas        std
154          3               150          mazda       gas        std
156          2                 ?        renault       gas        std
164          0               161         peugot    diesel      turbo
166          2                 ?          isuzu       gas        std
175          0                 ?         jaguar       gas        std
176          0               161         peugot       gas        std
178          0                 ?         peugot       gas        std
179         -1                 ?  mercedes-benz       gas        std
181          3                 ?        porsche       gas        std
185          0               161         peugot    diesel      turbo
198          3               Not     volkswagen       gas        std

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0           four        sedan          rwd           front       103.5  ...
1            two      hardtop          rwd           front       112.0  ...
2            two  convertible          rwd            rear        89.5  ...
6           four        sedan          rwd           front       104.9  ...
7           four        sedan          rwd           front       120.9  ...
13           two    hatchback          rwd           front        95.3  ...
15           two        sedan          rwd           front       102.0  ...
18          four        wagon          fwd           front       105.8  ...
19             ?        sedan          fwd           front        98.8  ...
26          four        sedan          rwd           front       107.9  ...
33           two        sedan          fwd           front        99.8  ...
36          four        sedan          rwd           front       108.0  ...
37          four        wagon          fwd           front        96.1  ...
44          four        wagon          fwd           front       100.4  ...
46           two        sedan          rwd           front       103.5  ...
47           two    hatchback          rwd           front        95.9  ...
48          four        sedan          rwd           front       110.0  ...
50          four        wagon          rwd           front       104.5  ...
58           two    hatchback          rwd           front        95.3  ...
62           two    hatchback          fwd           front        95.9  ...
64           two    hatchback          fwd           front        88.4  ...
70           two    hatchback          4wd           front        99.5  ...
72          four        sedan          rwd           front       103.5  ...
76          four        sedan          fwd           front        94.5  ...
78           two    hatchback          rwd           front       102.7  ...
79           two    hatchback          rwd           front        95.3  ...
81           two        sedan          fwd           front        94.5  ...
82          four        sedan          rwd           front       107.9  ...
85           two      hardtop          rwd            rear        89.5  ...
87           two  convertible          rwd           front        88.6  ...
89           two    hatchback          rwd           front        98.4  ...
92          four        wagon          rwd           front       114.2  ...
96           two    hatchback          fwd           front        95.9  ...
98          four        sedan          fwd           front       100.4  ...
106         four        sedan          fwd           front       100.4  ...
113          two  convertible          rwd           front        88.6  ...
123         four        sedan          rwd           front       107.9  ...
128         four        wagon          rwd           front       114.2  ...
133         four        wagon          rwd           front       114.2  ...
140         four        sedan          rwd           front        94.3  ...
142            ?        sedan          fwd           front        93.7  ...
143          two    hatchback          rwd           front        94.5  ...
154          two    hatchback          rwd           front        95.3  ...
156          two    hatchback          fwd           front        96.1  ...
164         four        sedan          rwd           front       107.9  ...
166          two    hatchback          rwd           front        96.0  ...
175         four        sedan          rwd           front       113.0  ...
176         four        sedan          rwd           front       107.9  ...
178         four        wagon          rwd           front       114.2  ...
179         four        sedan          rwd           front       115.6  ...
181          two      hardtop          rwd            rear        89.5  ...
185         four        sedan          rwd           front       107.9  ...
198          two  convertible          fwd           front        94.5  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            209         mpfi  3.62    3.39               8.0        182
1            304         mpfi   3.8    3.35               8.0        184
2            194         mpfi  3.74     2.9               9.5        207
6            134          idi  3.43    3.64              22.0         72
7            308         mpfi   3.8    3.35               8.0        184
13            70         4bbl     ?       ?               9.4        101
15           326         mpfi  3.54    2.76              11.5        262
18           136         mpfi  3.19     3.4               8.5        110
19           122          idi  3.39    3.39              22.7         64
26           120         mpfi  3.46    3.19               8.4         97
33           136         mpfi  3.19     3.4               8.5        110
36           134         mpfi  3.61    3.21               7.0        142
37           132         mpfi  3.46     3.9               8.7          ?
44           109         mpfi  3.19     3.4               9.0         88
46           209         mpfi  3.62    3.39               8.0        182
47           156         spdi  3.59    3.86               7.0        145
48           209         mpfi  3.62    3.39               8.0        182
50           161         mpfi  3.27    3.35               9.2        156
58            70         4bbl     ?       ?               9.4        101
62           156         spdi  3.59    3.86               7.0        145
64            61         2bbl  2.91    3.03               9.5         48
70           131         mpfi  3.13     3.4               7.0        160
72           164         mpfi  3.31    3.19               9.0        121
76            90         2bbl  3.03    3.11               9.6         70
78           140         mpfi  3.78    3.12               8.0        175
79            80         mpfi     ?     NaN               9.4        135
81            90         2bbl  3.03    3.11               9.6         70
82           152          idi   3.7    3.52              21.0         95
85           194         mpfi  3.74     2.9               9.5        207
87           130         mpfi  3.47    2.68               9.0        111
89           203         mpfi  3.94    3.11              10.0        288
92           120         mpfi  3.46    2.19               8.4         95
96           156         spdi  3.59    3.86               7.0        145
98            97          idi  3.01     3.4              23.0         68
106          136         mpfi  3.19     3.4               8.5        110
113          130         mpfi  3.47    2.68               9.0        111
123          120         mpfi  3.46    3.19               8.4         97
128          152          idi   3.7    3.52              21.0         95
133          152          idi   3.7    3.52              21.0         95
140          111         2bbl  3.31    3.23               8.5         78
142           98         mpfi  3.03    3.39               7.6        102
143          152         mpfi  2.68    3.47               9.0        154
154           70         4bbl     ?       ?               9.4        101
156          132         mpfi  3.46     3.9               8.7          ?
164          152          idi   3.7    3.52              21.0         95
166          119         spfi  3.43    3.23               9.2         90
175          258         mpfi  3.63    4.17               8.1        176
176          120         mpfi  3.46    2.19               8.4         95
178          120         mpfi  3.46    3.19               8.4         97
179          234         mpfi  3.46     3.1               8.3        155
181          194         mpfi  3.74     2.9               9.5        207
185          152          idi   3.7    3.52              21.0         95
198          109         mpfi  3.19     3.4               8.5         90

     peak-rpm city-mpg highway-mpg  price
0        5400       16          22  30760
1        4500       14          16  45400
2        5900       17          25  37028
6        4200       31          39  18344
7        4500       14          16  40960
13       6000       17          23  10945
15       5000       13          17  36000
18       5500       19          25  18920
19       4650       36          42  10795
26       5000       19          24  11900
33       5500       19          25  15250
36       5600       18          24  18150
37          ?       23          31   9295
44       5500       25          31  12290
46       5400       16          22  41315
47       5000       19          24  12764
48       5400       15          20  36880
50       5200       19          24  15750
58       6000       17          23  13645
62       5000       19          24  14489
64       5100       47          53   5151
70       5500       16          22      ?
72       4250       20          25  24565
76       5400       38          43      ?
78       5000       19          24  16503
79       6000       16          23  15645
81       5400       38          43      ?
82       4150       28          33  17950
85       5900       17          25  32528
87       5000       21          27  13495
89       5750       17          28    Not
92       5000       19          24  16695
96       5000       19          24  14869
98       4500       33          38  13845
106      5500       19          24  13295
113      5000       21          27  16500
123      5000       19          24  16630
128      4150       25          25  17075
133      4150       25          25  13860
140      4800       24          29   6785
142      5500       24          30   8558
143      5000       19          26  16500
154      6000       17          23  11845
156         ?       23          31   9895
164      4150       28          33  13200
166      5000       24          29  11048
175      4750       15          19  35550
176      5000       19          24  15580
178      5000       19          24  12440
179      4750       16          18  34184
181      5900       17          25  34028
185      4150       28          33  16900
198      5500       24          29  11595

[53 rows x 26 columns]

# Câu 6 Xử lý giá trị bị khuyết theo gợi ý

In [9]:
#Tạo bản sao của dataframe và thay thế các giá trị bị khuyết thành np.NaN
df_copy_q6 = dataframe.copy()

df_copy_q6.replace(missing_values, np.nan, inplace=True)
df_copy_q6.apply(lambda row: np.nan if row.isnull().all() else row, axis=1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
1,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400
2,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
3,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,11248
4,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,98,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,3,153,mitsubishi,gas,std,two,hatchback,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499
201,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299
202,1,125,mitsubishi,gas,turbo,four,sedan,fwd,front,96.3,...,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279
203,2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249
204,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040

In [10]:
# Chuyển đổi kiểu dữ liệu của cột "stroke" sang float
df_copy_q6["stroke"] = df_copy_q6["stroke"].astype(float, errors='ignore')
# Thay thế các giá trị bị khuyết trong cột "stroke" bằng giá trị trung bình của cột
df_copy_q6["stroke"] = df_copy_q6["stroke"].fillna(df_copy_q6["stroke"].mean())

In [11]:
#Thay thế các giá trị bị khuyết trong cột "normalized-losses" bằng giá trị xuất hiện nhiều nhất
df_copy_q6["normalized-losses"] = df_copy_q6["normalized-losses"].fillna(df_copy_q6["normalized-losses"].mode()[0])

In [12]:
#Thay thế các giá trị bị khuyết trong cột "bore" bằng giá trị ở dòng trên
df_copy_q6["bore"] = df_copy_q6["bore"].ffill()

In [13]:
#Thay thế các giá trị bị khuyết trong cột "horsepower" bằng giá trị ở dòng dưới
df_copy_q6["horsepower"] = df_copy_q6["horsepower"].bfill()

In [14]:
#Chuyển kiểu dữ liệu của cột "peak-rpm" sang float
df_copy_q6["peak-rpm"] = df_copy_q6["peak-rpm"].astype(float, errors='ignore')
#Thay thế các giá trị bị khuyết trong cột "peak-rpm" bằng giá trị trung bình của cột
df_copy_q6["peak-rpm"] = df_copy_q6["peak-rpm"].fillna(df_copy_q6["peak-rpm"].mean())

In [15]:
#Thay thế các giá trị bị khuyết trong cột "num-of-doors" bằng giá trị xuất hiện nhiều nhất
df_copy_q6["num-of-doors"] = df_copy_q6["num-of-doors"].fillna(df_copy_q6["num-of-doors"].mode()[0])

# Câu 7 Xử lý giá trị bị khuyết theo quy trình

In [16]:
#Tạo bản sao của dataframe và thay thế các giá trị bị khuyết bằng np.NaN
df_copy_q7 = dataframe.copy()

df_copy_q7.replace(missing_values, np.nan, inplace=True)
df_copy_q7.apply(lambda row: np.nan if row.isnull().all() else row, axis=1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
1,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400
2,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
3,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,11248
4,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,98,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,3,153,mitsubishi,gas,std,two,hatchback,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499
201,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299
202,1,125,mitsubishi,gas,turbo,four,sedan,fwd,front,96.3,...,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279
203,2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249
204,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040

In [17]:
#Loại bỏ các dòng có giá trị bị khuyết của cột "price"
df_copy_q7.dropna(subset=["price"], inplace=True)
#Thay thế các giá trị bị khuyết trong cột "horse-power" bằng giá trị trung bình của cột
df_copy_q7["horsepower"] = df_copy_q7["horsepower"].astype(float, errors='ignore')
df_copy_q7["horsepower"] = df_copy_q7["horsepower"].fillna(df_copy_q7["horsepower"].mean())
#Thay thế các giá trị bị khuyết trong cột "normalized-losses" bằng giá trị xuất hiện nhiều nhất
df_copy_q7["normalized-losses"] = df_copy_q7["normalized-losses"].fillna(df_copy_q7["normalized-losses"].mode()[0])
#Loại bỏ tất cả các hàng có giá trị bị khuyết còn lại
df_copy_q7.dropna(inplace=True)
#Lưu trữ kết quả vào tập tin .xlsx
df_copy_q7.to_excel('df_copy_q7.xlsx', index=False)

# Câu 8 Dùng Nearest Neighbors để điền các giá trị khuyết

In [18]:
from sklearn.impute import KNNImputer

In [19]:
#Tạo bản sao của dataframe và thay thế các giá trị bị khuyết thành np.NaN
df_copy_q8 = dataframe.copy()

df_copy_q8.replace(missing_values, np.nan, inplace=True)
df_copy_q8.apply(lambda row: np.nan if row.isnull().all() else row, axis=1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
1,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400
2,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
3,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,11248
4,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,98,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,3,153,mitsubishi,gas,std,two,hatchback,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499
201,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299
202,1,125,mitsubishi,gas,turbo,four,sedan,fwd,front,96.3,...,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279
203,2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249
204,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040

In [20]:
#Xử lý giá trị kiểu số bị khuyết bằng nearest neighbors
# Chuyển đổi các cột cần thiết sang kiểu số
numeric_columns = ["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]
df_copy_q8[numeric_columns] = df_copy_q8[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Áp dụng Nearest Neighbors để xử lý giá trị bị khuyết
imputer = KNNImputer(n_neighbors=2)
df_copy_q8[numeric_columns] = imputer.fit_transform(df_copy_q8[numeric_columns])

# Câu 9. Tạo các bin cho các biến

In [46]:
bin_labels = ['Low', 'Medium', 'High']

# Tạo bins cho "horsepower"
horsepower_bins = pd.cut(df_copy_q8['horsepower'], bins=3, labels=bin_labels)
df_copy_q8['horsepower_binned'] = horsepower_bins

# Tạo bins cho "price"
price_bins = pd.cut(df_copy_q8['price'], bins=3, labels=bin_labels)
df_copy_q8['price_binned'] = price_bins

# Tạo bins cho "city-mpg"
city_mpg_bins = pd.cut(df_copy_q8['city-mpg'], bins=3, labels=bin_labels)
df_copy_q8['city_mpg_binned'] = city_mpg_bins

# Tạo bins cho "highway-mpg"
highway_mpg_bins = pd.cut(df_copy_q8['highway-mpg'], bins=3, labels=bin_labels)
df_copy_q8['highway_mpg_binned'] = highway_mpg_bins

# In ra các cột và các bins tương ứng
df_copy_q8[['horsepower', 'horsepower_binned', 'price', 'price_binned', 'city-mpg', 'city_mpg_binned', 'highway-mpg', 'highway_mpg_binned']]

,horsepower,horsepower_binned,price,price_binned,city-mpg,city_mpg_binned,highway-mpg,highway_mpg_binned
0,182.0,Medium,30760.0,Medium,16,Low,22,Low
1,184.0,Medium,45400.0,High,14,Low,16,Low
2,207.0,Medium,37028.0,High,17,Low,25,Low
3,92.0,Low,11248.0,Low,27,Medium,32,Medium
4,68.0,Low,7609.0,Low,31,Medium,38,Medium
...,...,...,...,...,...,...,...,...
200,88.0,Low,8499.0,Low,25,Low,32,Medium
201,69.0,Low,7299.0,Low,31,Medium,37,Medium
202,116.0,Low,9279.0,Low,23,Low,30,Medium
203,69.0,Low,8249.0,Low,31,Medium,37,Medium
204,110.0,Low,15040.0,Low,21,Low,28,Low

# Câu 10 Chuyển biến phân loại thành biến số bằng one-hot

In [52]:
# Sử dụng phương pháp one-hot encoding
categorical_columns = ['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'fuel-system']
df_one_hot_encoded = pd.get_dummies(df_copy_q8, columns=categorical_columns)

# In ra dữ liệu các cột đã được chuyển đổi:
df_one_hot_encoded.filter(like='make')

,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,make_honda,make_isuzu,make_jaguar,make_mazda,make_mercedes-benz,...,make_nissan,make_peugot,make_plymouth,make_porsche,make_renault,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

# Câu 11 Chuyển biến phân loại thành biến số bằng phương pháp khác

In [44]:
# Chuyển các biến phân loại thành biến số bằng phương pháp frequency encoding
df_frequency_encoded = df_copy_q8.copy()
for col in categorical_columns:
    frequency = df_frequency_encoded[col].value_counts(normalize=True)
    df_frequency_encoded[col] = df_frequency_encoded[col].map(frequency)
    
# In ra dữ liệu các cột đã được chuyển đổi:
df_frequency_encoded[categorical_columns]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,fuel-system
0,0.039024,0.902439,0.819512,0.561576,0.468293,0.370732,0.985366,0.766839,0.458537
1,0.039024,0.902439,0.819512,0.438424,0.039024,0.370732,0.985366,0.067358,0.458537
2,0.024390,0.902439,0.819512,0.438424,0.029268,0.370732,0.014634,0.077720,0.458537
3,0.156098,0.902439,0.819512,0.561576,0.341463,0.585366,0.985366,0.766839,0.458537
4,0.034146,0.902439,0.819512,0.561576,0.468293,0.585366,0.985366,0.766839,0.321951
...,...,...,...,...,...,...,...,...,...
200,0.063415,0.902439,0.819512,0.438424,0.341463,0.585366,0.985366,0.766839,0.321951
201,0.087805,0.902439,0.819512,0.438424,0.468293,0.585366,0.985366,0.766839,0.321951
202,0.063415,0.902439,0.180488,0.561576,0.468293,0.585366,0.985366,0.766839,0.043902
203,0.087805,0.902439,0.819512,0.438424,0.039024,0.585366,0.985366,0.766839,0.321951
204,0.029268,0.902439,0.819512,0.438424,0.341463,0.585366,0.985366,0.766839,0.458537

 # Câu 12 Chuẩn hóa dữ liệu bằng Min-Max

In [43]:
# Chuẩn hóa dữ liệu bằng công thức Min-Max:
def min_max_scaling(series):
    return (series - series.min()) / (series.max() - series.min())

df_normalized_1 = df_copy_q8.copy()
numerical_columns = ['symboling', 'normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
for col in numerical_columns:
    df_normalized_1[col] = min_max_scaling(df_normalized_1[col])

# In ra dữ liệu các cột đã được chuẩn hóa:
df_normalized_1[numerical_columns]

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.4,0.282723,0.492711,0.714925,0.550000,0.658333,0.675718,0.558491,0.771429,0.628571,0.06250,0.558333,0.510204,0.083333,0.157895,0.636562
1,0.6,0.410995,0.740525,0.867164,0.975000,0.633333,0.863848,0.916981,0.900000,0.609524,0.06250,0.566667,0.142857,0.027778,0.000000,1.000000
2,1.0,0.410995,0.084548,0.414925,0.391667,0.316667,0.508922,0.501887,0.857143,0.395238,0.15625,0.662500,0.714286,0.111111,0.236842,0.792165
3,0.2,0.000000,0.460641,0.514925,0.516667,0.508333,0.376261,0.230189,0.550000,0.700000,0.10625,0.183333,0.020408,0.388889,0.421053,0.152177
4,0.6,0.465969,0.206997,0.391045,0.291667,0.250000,0.272692,0.139623,0.307143,0.552381,0.15000,0.083333,0.551020,0.500000,0.578947,0.061839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.0,0.460733,0.282799,0.476119,0.425000,0.133333,0.325834,0.230189,0.578571,0.661905,0.09375,0.166667,0.346939,0.333333,0.421053,0.083933
201,0.6,0.329843,0.230321,0.361194,0.291667,0.558333,0.179597,0.135849,0.435714,0.580952,0.15000,0.087500,0.428571,0.500000,0.552632,0.054143
202,0.6,0.314136,0.282799,0.467164,0.425000,0.316667,0.354926,0.184906,0.450000,0.661905,0.03125,0.283333,0.551020,0.277778,0.368421,0.103297
203,0.8,0.539267,0.247813,0.317910,0.291667,0.458333,0.201707,0.135849,0.435714,0.580952,0.15000,0.087500,0.428571,0.500000,0.552632,0.077727
204,1.0,0.445026,0.364431,0.679104,0.516667,0.691667,0.472847,0.226415,0.000000,0.000000,0.14375,0.258333,0.448980,0.222222,0.315789,0.246313

In [42]:
# Chuẩn hóa dữ liệu bằng module MinMaxScaler của sklearn:
from sklearn.preprocessing import MinMaxScaler

df_normalized_2 = df_copy_q8.copy()
scaler = MinMaxScaler()
df_normalized_2[numerical_columns] = scaler.fit_transform(df_normalized_2[numerical_columns])

# In ra dữ liệu các cột đã được chuẩn hóa:
df_normalized_2[numerical_columns]

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.4,0.282723,0.492711,0.714925,0.550000,0.658333,0.675718,0.558491,0.771429,0.628571,0.06250,0.558333,0.510204,0.083333,0.157895,0.636562
1,0.6,0.410995,0.740525,0.867164,0.975000,0.633333,0.863848,0.916981,0.900000,0.609524,0.06250,0.566667,0.142857,0.027778,0.000000,1.000000
2,1.0,0.410995,0.084548,0.414925,0.391667,0.316667,0.508922,0.501887,0.857143,0.395238,0.15625,0.662500,0.714286,0.111111,0.236842,0.792165
3,0.2,0.000000,0.460641,0.514925,0.516667,0.508333,0.376261,0.230189,0.550000,0.700000,0.10625,0.183333,0.020408,0.388889,0.421053,0.152177
4,0.6,0.465969,0.206997,0.391045,0.291667,0.250000,0.272692,0.139623,0.307143,0.552381,0.15000,0.083333,0.551020,0.500000,0.578947,0.061839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.0,0.460733,0.282799,0.476119,0.425000,0.133333,0.325834,0.230189,0.578571,0.661905,0.09375,0.166667,0.346939,0.333333,0.421053,0.083933
201,0.6,0.329843,0.230321,0.361194,0.291667,0.558333,0.179597,0.135849,0.435714,0.580952,0.15000,0.087500,0.428571,0.500000,0.552632,0.054143
202,0.6,0.314136,0.282799,0.467164,0.425000,0.316667,0.354926,0.184906,0.450000,0.661905,0.03125,0.283333,0.551020,0.277778,0.368421,0.103297
203,0.8,0.539267,0.247813,0.317910,0.291667,0.458333,0.201707,0.135849,0.435714,0.580952,0.15000,0.087500,0.428571,0.500000,0.552632,0.077727
204,1.0,0.445026,0.364431,0.679104,0.516667,0.691667,0.472847,0.226415,0.000000,0.000000,0.14375,0.258333,0.448980,0.222222,0.315789,0.246313

# Câu 13 Chuẩn hóa dữ liệu bằng z-score

In [41]:
# Chuẩn hóa dữ liệu bằng công thức Z-score:
def z_score_scaling(series):
    return (series - series.mean()) / np.std(series)

df_normalized_3 = df_copy_q8.copy()
for col in numerical_columns:
    df_normalized_3[col] = z_score_scaling(df_normalized_3[col])
    
# In ra dữ liệu các cột đã được chuẩn hóa:
df_normalized_3[numerical_columns]

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,-0.671472,-0.163920,0.789639,1.214799,0.463650,0.810288,1.298465,1.976184,1.037483,0.430508,-0.540725,1.968693,0.569245,-1.412700,-1.273900,2.232072
1,0.133509,0.558895,2.204638,2.043585,2.846866,0.687214,2.232219,4.263082,1.694309,0.302719,-0.540725,2.019407,-1.318010,-1.719158,-2.147310,4.087558
2,1.743470,0.558895,-1.540948,-0.418396,-0.424215,-0.871725,0.470601,1.615095,1.475367,-1.134905,-0.162161,2.602617,1.617721,-1.259470,-0.837195,3.026483
3,-1.476452,-1.757063,0.606521,0.126002,0.276731,0.071843,-0.187840,-0.118132,-0.093718,0.909716,-0.364062,-0.313437,-1.947095,0.272823,0.181783,-0.240896
4,0.133509,0.868673,-0.841772,-0.548402,-0.984972,-1.199923,-0.701886,-0.695874,-1.334389,-0.080647,-0.187398,-0.922005,0.778940,0.885740,1.055193,-0.702106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.743470,0.839171,-0.408949,-0.085257,-0.237296,-1.774269,-0.438125,-0.118132,0.052243,0.654139,-0.414537,-0.414865,-0.269535,-0.033636,0.181783,-0.589307
201,0.133509,0.101604,-0.708596,-0.710909,-0.984972,0.317992,-1.163950,-0.719947,-0.677563,0.111036,-0.187398,-0.896648,0.149855,0.885740,0.909625,-0.741396
202,0.133509,0.013096,-0.408949,-0.134009,-0.237296,-0.871725,-0.293730,-0.407003,-0.604583,0.654139,-0.666913,0.295131,0.778940,-0.340094,-0.109354,-0.490449
203,0.938490,1.281710,-0.608714,-0.946544,-0.984972,-0.174305,-1.054210,-0.719947,-0.677563,0.111036,-0.187398,-0.896648,0.149855,0.885740,0.909625,-0.620992
204,1.743470,0.750663,0.057168,1.019791,0.276731,0.974387,0.291551,-0.142204,-2.903474,-3.786524,-0.212636,0.142989,0.254703,-0.646553,-0.400490,0.239705

In [40]:
# Chuẩn hóa dữ liệu bằng module statmodels cho Z-score:
import scipy.stats
scipy.stats.zscore(df_copy_q8[numerical_columns])

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,-0.671472,-0.163920,0.789639,1.214799,0.463650,0.810288,1.298465,1.976184,1.037483,0.430508,-0.540725,1.968693,0.569245,-1.412700,-1.273900,2.232072
1,0.133509,0.558895,2.204638,2.043585,2.846866,0.687214,2.232219,4.263082,1.694309,0.302719,-0.540725,2.019407,-1.318010,-1.719158,-2.147310,4.087558
2,1.743470,0.558895,-1.540948,-0.418396,-0.424215,-0.871725,0.470601,1.615095,1.475367,-1.134905,-0.162161,2.602617,1.617721,-1.259470,-0.837195,3.026483
3,-1.476452,-1.757063,0.606521,0.126002,0.276731,0.071843,-0.187840,-0.118132,-0.093718,0.909716,-0.364062,-0.313437,-1.947095,0.272823,0.181783,-0.240896
4,0.133509,0.868673,-0.841772,-0.548402,-0.984972,-1.199923,-0.701886,-0.695874,-1.334389,-0.080647,-0.187398,-0.922005,0.778940,0.885740,1.055193,-0.702106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.743470,0.839171,-0.408949,-0.085257,-0.237296,-1.774269,-0.438125,-0.118132,0.052243,0.654139,-0.414537,-0.414865,-0.269535,-0.033636,0.181783,-0.589307
201,0.133509,0.101604,-0.708596,-0.710909,-0.984972,0.317992,-1.163950,-0.719947,-0.677563,0.111036,-0.187398,-0.896648,0.149855,0.885740,0.909625,-0.741396
202,0.133509,0.013096,-0.408949,-0.134009,-0.237296,-0.871725,-0.293730,-0.407003,-0.604583,0.654139,-0.666913,0.295131,0.778940,-0.340094,-0.109354,-0.490449
203,0.938490,1.281710,-0.608714,-0.946544,-0.984972,-0.174305,-1.054210,-0.719947,-0.677563,0.111036,-0.187398,-0.896648,0.149855,0.885740,0.909625,-0.620992
204,1.743470,0.750663,0.057168,1.019791,0.276731,0.974387,0.291551,-0.142204,-2.903474,-3.786524,-0.212636,0.142989,0.254703,-0.646553,-0.400490,0.239705